# Introduction to Pandas

This tutorial is partially based on the ["Solving real world data science tasks with Python Pandas!"](https://github.com/KeithGalli/Pandas-Data-Science-Tasks) tutorial, by Keith Galli.

The [Sales dataset](https://github.com/KeithGalli/Pandas-Data-Science-Tasks/tree/master/SalesAnalysis/Sales_Data) used in this tutorial comes from the aforementioned Keith's tutorial.

## Import necessary libraries

## Load and explore sales data for one month

### Load sales data from a csv file

The data is stored in the 'sales_data' subdirectory, within the 'data' directory. We'll start by creating a function for accessing the sales data directory.

Load the data from the 'Sales_January_2019' csv file, from the 'sales_data' directory

### Explore the loaded data

First, get the size of the dataframe, that is, the number of rows and columns

Access the columns' names

Examine the columns' data types

Get a complete set of information about the data frame

### Examine the missing values

To do that, we'll use the `isna()` method

#### Remove rows with all missing values

This can be done with the `dropna()` method

### Subset the data frame or select particular rows / columns

This can be done in different ways; the recommended practice is to use DatafFrame methods `loc` or `iloc`.

When doing the selection based on the ordinal number of rows and columns, `iloc` should be used.

When the selection is to be based on a condition to be evaluated against rows and / or columns are to be selected based on their names, `loc` should be used.

**Example 1**: select first 3 columns and first 6 rows

**Example 2**: select the last 5 rows and 1st, 2nd and 5th column

**Example 3**: Select Order ID, Order Date, and Purchase Address for orders coming from Boston

Note: we can use `str` to get the string value of a pandas Series (the 'Purchase Address' column, in this case), so that we can call any string method on it.

**Example 4**: Select Order ID, Product and Price Each for orders where the ordered quantity is at least 3

Note that even though the Quantity Ordered column stores numeric information, its values are encoded as strings:

So, we first need to transform the Quantity Ordered column to numeric type. <br>To that end, we use `pd.to_numeric()` function:

Now, we can do the intended selection:

## Load sales data for all months in 2019 and merge them into one data set

We need to load the sales data from all csv files (one for each month) available in the 'sales_data' directory. 

Let's first see how to take only .csv files from a given directory:

In [ ]:
# Hint: the glob() f. (from the PathLib module) finds all the pathnames matching a specified pattern

We'll now take each csv file in turn, load the data from it and add the loaded data into a common DataFrame that stores sales data for the whole year.

To merge two DataFrames, we'll use `pd.concat` function

### Examine and save the DataFrame with the merged data

Note the difference between the number of entries (rows) and the index values. It seems that some of the loaded files have overlaping indexes. To fix this, we need to reset the index of the merged data frame.

Write the merged data to a file, in case we need to get back to it

## Explore the merged sales data

Rename the DataFrame, to reduce the typing:

Note that we are just giving a new name (reference) to the same object, that is, we are not creating a new DataFrame object with this statement. <br>
We can verify that by comparing the two data frame references:

To create a new DataFrame object, we would need to do, for example, the following:

Let's take a look at the data...

Note that all the data are stored as object (string) values. We will need to change that for the Quantity Ordered, Price Each and Order Date columns. But before that, we will handle missing values.

### Remove observations with all missing values

Let's first check for the presence of missing values across columns

It seems that entire rows of data are missing, that is, we have observations with all missing values. <br>Let's check that:

Remove observations with all missing values

### Convert Quantity Ordered and Price Each to numeric values, and Order Date into datetime type

A useful reference for this type of conversion:
https://stackoverflow.com/questions/15891038/change-column-type-in-pandas

Let's start by taking another look at the columns' data types

First, we'll try to convert Quantity Ordered to a numeric column

Take a look at the entry (observation) where the error occurred

This looks like some erroneous data that we do not need. So, we will do the conversion (to numeric type) and, along the way, replace such erronous data with NaN (that is, mark the data as missing)

Compute the basic statistics for the newly created numeric column

Get the number and proportion of the introduced missing values in the Quantity Ordered column

Do the same for the Price Each column

Drop rows where ordered quantity and price are unavailable (NaN)

Check the size of the dataset after the removal of rows with missing values

Finally, transform the Order Date to datetime type

It seems that this transformation went well.

Let's check the data types after the transformations done above

### Add Purchase City column

Let's see how we can create a new column out of an existing one.

Since we may be interested in comparing sales across cities, we will add a column with the name of the city where the order was made. The city name should be followed by the state label, given in brackets (e.g. 'Atlanta (GA)'), to disambigute cities with common names.

Take a sample of values of the Purchase Address column, to examine how addresses are formatted

We will start by creating a function that can extract the city (and state label) from the Purchase Address column.

Next, we will *apply* the function to each value of the Purchase Address series.

## Exploratory data analysis

Let's now try to answer some sales-related questions by exploring the 2019 sales data

### Task 1. What was the best month for sales? How much was earned that month?

To answer this question, we need to:
- compute total revenue per order
- extract month from the Order Date, so that we can group orders on the montly basis
- compute total revenue per month

**Step 1**: Compute total revenue per order

**Step 2**: Extract month from the Order Date

Note that Order Date is a datetime Series. We can use `dt` to get access to each value in the Series as a datetime object. <br>Having access to a particular order date as a datetime object, we can take any element of the order date and time through appropriate fields (year, month, day, etc.)

**Step 3**: Compute total revenue per month

Sort the results in the decreasing order of monthly total revenue

We can see that the last month, December, had the highest revenue and that it was ~4.6M USD.

We can also examine monthly revenues on a (bar) chart, as visual representation of data often facilitates the comprehension of trends that may be present in the data.

For plotting, we will use the Matplotlib library. Its documentation is available at: https://matplotlib.org/api/_as_gen/matplotlib.pyplot.html

### Task 2. What city ordered the largest quantity of products?

This time we will group orders based on the city. <br>Recall that we have created the 'Purchase City' column out of the 'Purchase Address' column.

Sort the results in the decreasing order of the per-city ordered quantity

Finally, plot the per-city ordered quantites on a bar chart

### Task 3. When, during a day, customers are likely to make most valuable orders?

To answer this one, we can extract the hour from the Order Date and examine the average total order price across the 24 hours of a day

**Step 1**: Create the 'Order Hour' column

**Step 2**: Group orders per Order Hour and compute mean Total price for each group

Sort the results in the descending order of the mean total price

Examine the results on a line chart

### Task 4. What product sold the most? What product contributed the most to the total revenue?

Let's first see how many different products there are and how frequently they were ordered

While the above series gives us the number of orders that a product appeared in, it does not tell us about the quantities that were ordered.

For each product, we need to take the overall quantity ordered and total price across all orders related to that product

Get five products that sold the most:

Get five products with the highest total revenue

We can also plot these data. <br>
First, plot total quantity sold per product

Next, plot total revenue per product

We can also combine the two plots.

An example how this can be done is available at: https://matplotlib.org/gallery/api/two_scales.html

### Task 5. Examine product sales across cities

Note that we can group data based on more than one attribute (column). <br> In this case, we will do the grouping based on the product and the city and compute total revenue for each product in each city:

Note that we are getting a Series with two indexes - Product and Purchase City.

We can transform this into a DataFrame by calling the `unstack()` method:

We can now plot this matrix using a heathmap. One way to do it is illustrated here: <br> 
https://www.geeksforgeeks.org/display-the-pandas-dataframe-in-heatmap-style/